    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container text-center py-5">
          <h1 class="display-4 text-white animated slideInDown mb-3">Contact Us</h1>

      </div>
  </div>
  <!-- Page Header End -->


  <!-- Contact Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
              <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
              <h1 class="display-6 mb-4">If You Have Any Query, Please Feel Free Contact Us</h1>
          </div>
          <div class="row g-0 justify-content-center">
              <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                  <!-- <p class="text-center mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                  <!-- <form [formGroup]="contactusForm">
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control" formControlName="name" id="name" placeholder="Your Name">
                                  <label for="name">Your Name</label>
                                  <div *ngIf="contactUsControl['name'].touched && contactUsControl['name'].invalid" class="text-danger">
                                    <div *ngIf="contactUsControl['name'].errors">Name is required.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control" formControlName="email" id="email" placeholder="Your Email">
                                  <label for="email">Your Email</label>
                                  <div *ngIf="contactUsControl['email'].touched && contactUsControl['email'].invalid" class="text-danger">
                                    <div *ngIf="contactUsControl['email'].errors">Email is required.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Subject">
                                  <label for="subject">Subject</label>
                                  <div *ngIf="contactUsControl['subject'].touched && contactUsControl['subject'].invalid" class="text-danger">
                                    <div *ngIf="contactUsControl['subject'].errors">Subject is required.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control" formControlName="message" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                  <label for="message">Message</label>
                                  <div *ngIf="contactUsControl['message'].touched && contactUsControl['message'].invalid" class="text-danger">
                                    <div *ngIf="contactUsControl['message'].errors">Project Name is required.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 text-center">
                              <button class="btn btn-primary rounded-pill py-3 px-5" [disabled]="contactusForm.invalid" type="submit">Send Message</button>
                          </div>
                      </div>
                  </form> -->
                  <div class="col-12 text-center">
                   <a href="mailto:ch_join@hotmail.com">
                    <button class="btn btn-primary rounded-pill py-3 px-5">Send Message</button>
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact End -->


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
    <i class="fa fa-laptop-code fa-2x text-primary position-absolute top-50 start-50 translate-middle"></i>
</div>
<!-- Spinner End -->
  </ngx-spinner>
