 <!-- Spinner Start -->
 <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
  <i class="fa fa-laptop-code fa-2x text-primary position-absolute top-50 start-50 translate-middle"></i>
</div> -->
<!-- Spinner End -->


<!-- Topbar Start -->
<!-- <div class="container-fluid bg-light px-0 wow fadeIn" data-wow-delay="0.1s">
  <div class="row gx-0 align-items-center d-none d-lg-flex">
      <div class="col-lg-6 px-5 text-start">
          <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a class="small text-secondary" href="#">Home</a></li>
              <li class="breadcrumb-item"><a class="small text-secondary" href="#">Career</a></li>
              <li class="breadcrumb-item"><a class="small text-secondary" href="#">Terms</a></li>
              <li class="breadcrumb-item"><a class="small text-secondary" href="#">Privacy</a></li>
          </ol>
      </div>
      <div class="col-lg-6 px-5 text-end">
          <small>Follow us:</small>
          <div class="h-100 d-inline-flex align-items-center">
              <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
              <a class="btn-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
          </div>
      </div>
  </div>
</div> -->
<!-- Topbar End -->


<!-- Brand & Contact Start -->
<!-- <div class="container-fluid py-4 px-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="row align-items-center top-bar">
      <div class="col-lg-4 col-md-12 text-center text-lg-start">
          <a href="" class="navbar-brand m-0 p-0">
              <h1 class="fw-bold text-primary m-0"><i class="fa fa-laptop-code me-3"></i>DGcom</h1>
              <img src="img/logo.png" alt="Logo">
          </a>
      </div>
      <div class="col-lg-8 col-md-7 d-none d-lg-block">
          <div class="row">
              <div class="col-4">
                  <div class="d-flex align-items-center justify-content-end">
                      <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                          <i class="far fa-clock text-primary"></i>
                      </div>
                      <div class="ps-3">
                          <p class="mb-2">Opening Hour</p>
                          <h6 class="mb-0">Mon - Fri, 8:00 - 9:00</h6>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="d-flex align-items-center justify-content-end">
                      <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                          <i class="fa fa-phone text-primary"></i>
                      </div>
                      <div class="ps-3">
                          <p class="mb-2">Call Us</p>
                          <h6 class="mb-0">+012 345 6789</h6>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="d-flex align-items-center justify-content-end">
                      <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                          <i class="far fa-envelope text-primary"></i>
                      </div>
                      <div class="ps-3">
                          <p class="mb-2">Email Us</p>
                          <h6 class="mb-0">info@example.com</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- Brand & Contact End -->


<!-- Navbar Start -->
<!-- <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
  <a href="#" class="navbar-brand ms-3 d-lg-none">MENU</a>
  <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav me-auto p-3 p-lg-0">
          <a href="index.html" class="nav-item nav-link">Home</a>
          <a href="about.html" class="nav-item nav-link">About Us</a>
          <a href="service.html" class="nav-item nav-link active">Services</a>
          <a href="project.html" class="nav-item nav-link">Projects</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                  <a href="feature.html" class="dropdown-item">Features</a>
                  <a href="team.html" class="dropdown-item">Our Team</a>
                  <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                  <a href="404.html" class="dropdown-item">404 Page</a>
              </div>
          </div>
          <a href="contact.html" class="nav-item nav-link">Contact Us</a>
      </div>
      <a href="#" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block">Get Started</a>
  </div>
</nav> -->
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
      <h1 class="display-4 text-white animated slideInDown mb-3">Services</h1>
  </div>
</div>
<!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
          <h1 class="display-6 mb-4">We Focuse On Making The Best In All Sectors</h1>
      </div>
      <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" *ngFor="let service of services">
              <a class="service-item d-block rounded text-center h-100 p-4">
                  <img class="img-fluid rounded mb-4" src="{{userService.url + 'images/' + service.image}}" alt="">
                  <h3  class="mb-0 head">{{service.name}}</h3>
                  <!-- <p >Service Name</p> -->
                  <div class="row">
                    <div class="col-md-3">

                    <!-- <label for="description" >Description</label> -->

                  </div>
                </div>
                <div>
                 <p class="all-description"> {{service.description}} </p>
                </div>
                <!-- <textarea type="text" id="description" disabled [value]="service.description" class="form-control"> </textarea> -->
                <br>

                <br>
                <div class="col-12 text-center">
                  <button class="btn btn-primary " routerLink="/user/create_project">Buy Service</button>
                  <!-- rounded-pill py-3 px-5 -->
              </div>
                <!-- <div class="row">
                  <div class="col-md-5">

                    <a class="btn btn-primary" routerLink="/user/create_project">Buy Service</a>
                  </div>
                </div> -->

              </a>


          </div>

      </div>
  </div>
</div>
<!-- Service End -->




<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
    <i class="fa fa-laptop-code fa-2x text-primary position-absolute top-50 start-50 translate-middle"></i>
</div>
<!-- Spinner End -->
  </ngx-spinner>
