/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.mon.css'

.all-description{
    color: #4c4a4a;
    font-size: 13px;
    padding: 4%;
}

.head{
    font-size: 18px;
    font-weight: 800;
}